<nav style="background-color: black;"class="navbar" role="navigation" aria-label="main navigation" id=#nbar>
  <div class="navbar-brand">
    <a class="navbar-item" href="">
    </a>

    <a role="button" class="navbar-info-piece" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" style="color: white; background-color: black;" href="{% url 'index' %}">
        <i class="material-icons">home</i>
        Home
      </a>

      </div>
      
      <div class="navbar-start">
                  <a class="navbar-item" style="color: white; background-color: black;" href="{% url 'task-create' %}">
                    <i style="color: black;" class="material-icons"></i>
                      Create task
                  </a>
              </div>
                
    <div class="navbar-start">
                  <a class="navbar-item" style="color: white; background-color: black;"  href="{% url 'profile' %}">
                    <i style="color: black;" class="material-icons"></i>
                      Profile
                  </a>
              </div>
      </form>
    
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
           
          <div class="navbar-start">
              <a class="navbar-item"  style="color: white; background-color: black;" href="{% url 'logout' %}">logout</a>
            </div>
      </div>
    </div>
  </div>
</nav>